*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;    
}
html{
    background: #D1D5DB;
}

body{
    border-radius: 0.625em; /* 10px */
    position: relative;
    min-height: 48.6875em; /* 779px */
    width: 90%;
    max-width: 34.375em; /* 550px */
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background: white;
}

header{
    border-radius: 0.625em; /* 10px */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url("images/header.png");
    background-color: rgba(0, 0, 0, 0.95);
    width: 34.375em; /* 550px */
    height: 13em; /* 208px */
    margin-bottom: 3.9375em; /* 63px */
}
header h1{
    font-weight: 800;
    font-size: 2.675rem; /* 42.8px */
}

header button{
    background: none;
    border: none;
    color: white;
    font-size: 0.875rem; /* 14px */
}

main, .render{
    width: 34.375em; /* 550px */
    min-height: 35.6875em; /* 571px */
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main p{
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    line-height: 1.25em; /* 20px */
    letter-spacing: 0em;
    text-align: center;
    color: #DFDDDD;
    width: 20.0625em; /* 321px */
    height: 2.5em; /* 40px */
}

form{
    position: absolute;
    top: 12.375em; /* 198px */
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input{
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    line-height: 1.25em; /* 20px */
    width: 21.375em; /* 342px */
    height: 2.375em; /* 38px */
    padding: 0.5625em 0.8125em; /* 9px 13px */
    border-radius: 0.375em 0 0 0.375em; /* 6px 0px 0px 6px */
    color: #6B7280;
    border: 1px solid #D1D5DB;
    border-right: none;
}

form button{
    border-radius: 0 0.375em 0.375em 0; /* 0px 6px 6px 0px */
    padding: 0.5625em 0.6875em; /* 9px 11px */
    border: 1px solid #D1D5DB;
    width: 7.5em; /* 120px */
    height: 2.375em; /* 38px */
    background: white;
    color: black;
}

form button:hover{
    background: #4B4B4B;
    color: white;
}

.render{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.film{
    width: 28.875em; /* 462px */
    height: 10.5em; /* 168px */
    border-bottom: 0.09375em solid #E5E7EB; /* 1.5px */
    color: black;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.2875em; /* 20.6px */
}

.info{
    margin-left: 1.3125em; /* 21px */
}

.head{
    display: flex;
    height: 1.25em; /* 20px */
    justify-content: start;
    align-items: center;
}

.head h3{
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    margin-right: 0.5em; /* 8px */
    max-width: 18.75em; /* 300px */
}

.head image{
    width: 0.9375em; /* 15px */
    height: 0.9375em; /* 15px */
}

.head p{
    margin-left: 0.25em; /* 4px */
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
}

.discription{
    height: 1.25em; /* 20px */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.75rem; /* 12px */
    font-weight: 400;
    margin-top: 0.6875em; /* 11px */
    margin-bottom: 0.5em; /* 8px */
}

.discription .genre{
    margin-left: 1.25em; /* 20px */
    margin-right: 1.875em; /* 30px */
}
.watchlist{
    width: 4.5625em; /* 73px */
    height: 1.25em; /* 20px */
    display: flex;
    align-items: center;
    justify-content: center;
}
.watchlist p{
    margin-left: 0.3125em; /* 5px */
}

.watchlist:hover, header button:hover{
    color: #ff6f0f;
}

.summary{
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    color: #6B7280;
}

